<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Controle de revisões de veículos - Alice Vitória</title>
        <link rel="shortcut icon" href="logo.png" type="image/x-icon">
        <script src="VueJS/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div id="app">
            <transition name="modal" appear>
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-container">
                            <div v-if="pagina == 'login'">
                                <div class="modal-header">
                                    <h3 style="font-size: 23px;">Login</h3>
                                </div>
                    
                                <div class="modal-body">
                                    <form>
                                        <div style="margin-bottom: 30px" class="grupoInput">
                                            <input @input="campoVazio('email')" autocomplete="off" autocomplete="disabled" type="text" id="email" v-model.trim="email" placeholder=" ">
                                            <label for="email">E-mail</label>
                                        </div>
                                        <div style="margin-top: 20px; margin-bottom: 20px" class="grupoInput">
                                            <input @input="campoVazio('senha')" autocomplete="off" autocomplete="disabled" type="password" id="senha" v-model.trim="senha" placeholder=" ">
                                            <label for="senha">Senha</label>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="modal-default-button btn" id="btnL" @click="login()">Login</button>
                                    <div id="ncad" class="modal-default-button"><div>Não tem cadastro? </div><div style="color: var(--verde); cursor: pointer" @click="mostrarCadastro()">Cadastre-se</div></div>
                                </div>
                            </div>
                
                            <div v-else>
                                <div class="modal-header">
                                    <h3 style="font-size: 23px;">Cadastro</h3>
                                </div>
                    
                                <div class="modal-body">
                                    <form>
                                        <div style="margin-bottom: 30px" class="grupoInput">
                                            <input @input="campoVazio('nome')" autocomplete="off" autocomplete="disabled" type="text" id="nome" v-model="nome" placeholder=" ">
                                            <label for="nome">Nome</label>
                                        </div>
                                        <div style="margin-bottom: 30px" class="grupoInput">
                                            <input @input="campoVazio('celular')" autocomplete="off" autocomplete="disabled" type="text" id="celular" v-model="celular" placeholder=" ">
                                            <label for="celular">Celular</label>
                                        </div>
                                        <div style="margin-bottom: 30px" class="grupoInput">
                                            <input @input="campoVazio('emailC')" autocomplete="off" autocomplete="disabled" type="text" id="emailC" v-model="email" placeholder=" ">
                                            <label for="email">E-mail</label>
                                        </div>
                                        <div style="margin-top: 20px; margin-bottom: 20px" class="grupoInput">
                                            <input @input="campoVazio('senhaC')" autocomplete="off" autocomplete="disabled" type="password" id="senhaC" v-model="senha" placeholder=" ">
                                            <label for="senha">Senha</label>
                                        </div>
                                        <div style="margin-bottom: 30px" class="grupoInput">
                                            <input @input="campoVazio('endereco')" autocomplete="off" autocomplete="disabled" type="text" id="endereco" v-model="endereco" placeholder=" ">
                                            <label for="endereco">Endereço</label>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="modal-default-button btn" id="btnC" @click="cadastro()">Cadastre-se</button>
                                    <div id="ncad" class="modal-default-button"><div>Já tem uma conta? </div><div style="color: var(--verde); cursor: pointer" @click="mostrarLogin()">Faça login</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>

        <script>

        
            // iniciar #app
            new Vue({
                el: '#app',

                data: {
                    pagina: 'login', // começará com a ba ade login
                    campoN: 'vazio',
                    nome: '',
                    senha: '',
                    celular: '',
                    email: '',
                    endereco: '',
                },

                methods: {

                    mounted() {
                        // Quando o DOM for carregado, exibe o modal de login (document.ready)
                        this.showLoginModal = true;
                    },

                    mostrarCadastro() { this.pagina = 'cadastro' },

                    mostrarLogin() { this.pagina = 'login' },

                    cadastro() {
                        
                        const dados = {
                            nome: this.nome,
                            senha: this.senha,
                            celular: this.celular,
                            email: this.email,
                            endereco: this.endereco
                        };

                        $.post('api/inserirUsuario.php', dados).done(back => {

                            if(back != "Erro"){ 

                                alert("Cadsatro efetuado com sucesso! Faça o login para ter acesso ao software");
                                this.pagina = 'login';

                            }else{

                                alert("Erro!");

                            }

                        })
                    },

                    login() {
                        
                        if(this.email && this.senha){

                            $.post('api/login.php', {email: this.email, senha: this.senha}).done(retorno => {
    
                                if(retorno != "Erro" && JSON.parse(retorno) != ""){ 
    
                                    window.location.href = "pagInicial/?p=" + encodeURIComponent(JSON.stringify(JSON.parse(retorno)));
    
                                }else{
                                    
                                    alert("Erro!");
                                
                                }
    
                            })

                        }else{

                            alert("preencha todos os campos")
                        
                        }
                    },

                    campoVazio(elemento){

                        var botao = $('#btnL')
                        var botao2 = $('#btnC')

                        $('#' + elemento).val().trim() ? $('#' + elemento).css('border-bottom', '1px solid var(--verde)') : $('#' + elemento).css('border-bottom', '1px solid red');

                        if(this.pagina == "login"){

                            if(this.email != "" && this.senha != ""){ 

                                botao.css('opacity', '1') 
                                botao.css('cursor', 'pointer') 
                                // botao.attr('v-on:click', 'this.login()') 

                            }
                            
                        }else{

                            if(this.nome != "" && this.celular != "" && this.email != "" && this.senha != "" && this.endereco != ""){

                                botao2.css('opacity', '1') 
                                botao2.css('cursor', 'pointer') 
                                //botao2.attr('v-on:click', 'cadastro') 
                                
                            }

                        }
                        
                    }

                }
            });

        </script>

    </body>
</html>
