:root{
    --verde: #42b983;
    --branco: #fff;
    --preto: #000;
    --cinza: #817b7b;
}

body{
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

body::before{ /* criando em el depois da tag body (<body>)  */
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--branco); /* Cor do fundo escuro */
    opacity: 0.8; /* Opacidade do fundo escuro */
}

.modal-mask {

    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: table;

}
  
.modal-wrapper {

    display: table-cell;
    vertical-align: middle;

}
  
.modal-container {

    width: 300px;
    margin: auto;
    padding: 35px;
    border-radius: 30px;
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    
    /* efeito vidro */
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 var(--cinza);
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}
  
.modal-header h3 {

    margin-top: 0;
    color: var(--verde);
    text-align: center;

}
  
.modal-body { margin: 20px 0; }
  
.modal-default-button { float: right; }
  
.modal-leave-to, .modal-enter { opacity: 0; }
  
.modal-enter .modal-container,
.modal-leave-to .modal-container { -webkit-transform: scale(1.1); transform: scale(1.1); }

.grupoInput { position: relative; display: grid }

label {

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: var(--cinza);
    transition: 0.2s ease-out;
    pointer-events: none;

}

input{

    border: none;
    border-bottom: 1px solid var(--verde);
    padding: 20px 0 5px 0;
    transition: border-color 0.2s ease-out;
    background: none;
    outline: none;

}

input:focus-within + label, input:not(:placeholder-shown) + label {

    font-size: 14px;
    transform: translateY(-180%);
    color: var(--verde);

}

.btn{ 

    background: var(--verde)!important; 
    color: var(--branco); 
    border-radius: 30px; 
    border: none; 
    padding: 12px; 
    width: 100%; 
    cursor: no-drop;  
    opacity: 0.5;
    font-size: 15px;

}

#ncad{ display: flex; gap: 5px; width: 100%; justify-content: center; margin-top: 25px }
