@font-face {
  font-family: 'Josefin Sans Regular';
  src: url('../static/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans Bold';
  src: url('../static/JosefinSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root{
  --preto: #000;
  --branco: #fff;
  --roxo: #5f4fcd;
}

body{
  margin: 0;
  background-color: var(--branco);
  height: 100vh;
  width: 100vw;
  font-family: 'Josefin Sans Regular', Courier, monospace;
  overflow-x: hidden;
  user-select: none;  
}

body::-webkit-scrollbar { width: 6px; background: transparent; }

body::-webkit-scrollbar-thumb { background: var(--preto); border-radius: 20px; }

#container{
  width: 100%;
  height: 100%;
}

.fs-1 { font-family: 'Josefin Sans Bold'; }

.top{
  font-style: normal;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none; 
  color: var(--preto);
}

.top:hover{ color: var(--roxo)!important }

html {
  scroll-behavior: smooth;
}

#offcanvasNavbar2{
  flex-direction: row!important;
}

#logo{
  padding: 8px;
  border: 3px solid var(--branco);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans Bold';
}

button{
  border: none;
  background: var(--roxo);
  font-family: 'Josefin Sans Bold';
  transition: all 0.3s ease;
  padding: 15px 25px;
  border-radius: 50px;
  margin-top: 35px;
  cursor: pointer;
  color: var(--branco);
}

button:hover { transform: scale(0.95) }

figure:hover { transform: scale(1.2); }

.col, .col-5 { padding: 0!important; }

.card{
  width: 400px;
  height: 260px;
  border-radius: 18px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}

.cort{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: linear-gradient(to bottom, transparent, var(--roxo)); 
  transition: top 0.3s ease; 
  display: flex;
  flex-direction: column;
  justify-content: end;
  backdrop-filter: blur(2px);
  top: 0px;
}

.card:hover .cort{ top: 260px }

.card:hover { transform: scale(0.95) }

#circulo{
  background: var(--roxo);
  padding: 20px;
  border-radius: 100%;
  display: flex;
  height: 300px;
  width: 300px;
  justify-content: center;
}

figure { margin-bottom: 0!important; transition: all 0.3s ease; }

.figure-img { width: 50px; }

i { font-size: 25px }

#tecnologias, #sobreMim, #projetos, #contato{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 10px; 
  padding: 60px;
  display: grid;
  justify-content: center;
  text-align: center;
}

#head{
  padding: 20px 60px; 
  margin: 0;
  position: fixed;
  width: 100%;
  background: var(--branco);
  z-index: 1;
}

.botaoSec{
  border: 1px solid var(--roxo);
  background: none;
  color: var(--roxo);
}

.imgExpo{ filter: brightness(0) invert(1); width: 20px; }

.inverLyric { mix-blend-mode: lighten; filter: invert(1) grayscale(100%) contrast(3.3) }

#texto:after{ content: ' |'; animation: pisca .7s infinite }

@keyframes pisca{
  0%, 100%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
}

.animate {
  position: absolute;
  animation: bounce 1s infinite alternate; /* 1s de duração, infinito efeito alternado */
  font-size: 40px;
}

@keyframes bounce {
  0% {
    transform: translateY(0); /* Sem deslocamento inicial */
  }
  100% {
    transform: translateY(10px); /* Deslocamento para cima */
  }
}

.bi-headphones{ right: 40px; top: 100px }

.bi-dpad{ right: 485px; top: 100px }

.bi-braces{ right: 70px; top: 430px }

.bi-keyboard{ right: 450px; top: 430px }

@media screen and (max-width: 760px) {
  .top, #direitos, .fs-5{
    font-size: 24px!important;
    text-align: center!important;
  }

  #direitos{ margin-bottom: 25px; }

  .fs-1{
    text-align: center!important;
    margin-bottom: 10px;
  }

  .figure-caption{
    font-size: 20px!important;
  }

  #texto{
    margin-bottom: 15px;
  }

  button{
    width: 100%;
    margin-top: 15px;
  }

  .flex-wrap-reverse{
    padding: 120px 60px 60px 60px!important;
  }

  .bi-dpad{
    top: 100px;
    left: 40px;
  }

  .bi-headphones{
    top: 100px;
    right: 40px;
  }

  .bi-braces{
    right: 65px;
    top: 300px;
  }

  .bi-keyboard{
    top: 300px;
    left: 65px;
  }

  .offcanvas {
    display: block!important;
    padding: 55px!important;
  }

  .offcanvas-header{
    padding: 0;
  }

  #topHead{
    flex-direction: column;
    gap: 15px!important;
  }

  #topHead > .top{
    text-align: start!important;
  }

  .offcanvas-header, #topHead, #biHead{
    margin-bottom: 25px;
  }

  #biHead{
    justify-content: space-between !important;
    position: absolute;
    bottom: 0;
    width: 72%;
  }

  .card{ width: 100%; }

  footer{ padding: 60px!important; }

  #avatar{ 
    width: 75%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
  }
}