@font-face { font-family: Gotham B; src: url(../fonts/Gotham-Bold.otf); }

@font-face { font-family: Gotham L; src: url(../fonts/Gotham-Light.otf); }

@font-face { font-family: Gotham M; src: url(../fonts/Gotham-Medium.otf); }


:root{

    --verde-claro: #c5cf9b;
    --verde-escuro: #485a4b;
    --verde-wtp: #3a9713;
    --cor-botao: #af5f48;
    --branco: #fff;
    --vermelho-claro: #f5e8df;
    --preto: #000;
    --cinza: #b7b7b7;

}


body{ 
    
    background: #860000; 
    height: 100vh;
    margin: 0;
    font-family: Gotham L!important;
    overflow-x: hidden;

}

img { object-fit: cover; mix-blend-mode: multiply }

#head { 
    
    justify-content: center; 
    padding: 1rem; 
    background: rgba(197, 207, 155, 0.9); 
    position: absolute;
    width: 100%;
    top: 0;

}

#footer{ position: fixed; bottom: 0; width: 100%; }

#divRedes{ align-items: center; justify-content: center; gap: 10px; padding: 1rem; }

#p1{ 

    background-image: url("../imgs/MDR_FITNESSCENTER.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 660px;
    padding-top: 80.63px;

}

#boasVindas{

    background: rgba(0, 0, 0, 0.7);
    padding: 100px 320px 90px 90px;
    text-align: end;
    color: var(--branco);
    width: 70%;
    gap: 10px;

}

.formulario{

    background: var(--verde-escuro);
    width: 440px;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 150px;
    left: 50%;

}

input{ border-radius: 5px!important }

input:focus, select { box-shadow: none!important; }

label { font-size: 13px; margin: 0 calc(var(--bs-gutter-x) * .5); }

.form-floating > label { display: flex; align-items: center;  }

.btnE, .btnCad {

    background: var(--cor-botao)!important;
    width: 100%;
    border: none!important;
    padding: 1rem!important;

}

.btn { font-size: 12px!important; }

.btnR {

    background: none!important;
    width: 100%;
    cursor: no-drop!important;
    border: 1px solid var(--cor-botao)!important;
    padding: 1rem!important;

}

#vantagens{

    padding: 50px 0 50px 50px;
    background-image: url("../imgs/img-lp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: end;
    display: flex;

}

#bannerV{

    background: rgba(197, 207, 155, 0.9); 
    display: grid; 
    gap: 10px; 
    padding: 35px 40px;
    width: 53%;
    color: var(--branco);

}

#comodos, #estrutura, #planta{
    
    padding: 50px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--verde-escuro);
    
}

.figure-caption{ text-align: center!important; font-size: 12px!important; }

.zoomD{ justify-content: center; display: flex; align-items: center; gap: 10px; }

.plant:hover, .p:hover { width: 300px; }

.plant, .p { transition: all 0.3s ease; cursor: pointer; }


@media only screen and (max-width: 768px) {

    body {
        font-size: 14px;
        text-align: center!important;
    }

    /* Modifique o tamanho da imagem do cabeçalho */
    #head img {
        width: 150px;
    }

    /* Modifique o tamanho da imagem das plantas */
    .plant .zoomD {
        font-size: 18px;
    }

    /* Ajuste o tamanho do texto nas vantagens */
    #bannerV div {
        font-size: 14px;
    }

    #bannerV{ width: 100%; }

    #comodos, #estrutura, #planta, .paisagemtext, .rowMap { padding: 50px 65px!important; }

    .figure{ margin-top: 20px!important; }

    .fig{ width: 188px; }

    .btnPlant, .btnMap, .btnEE { margin-top: 40px!important; width: 100%!important; }

    #textRota, .tRota { padding: 50px 65px!important; }

    .tRota > div { margin: 0!important; }

    .rowRota{ margin-top: 0!important; }

    .rowRota > .figure{ margin-top: 0!important; padding: 0 64px!important; }

    .btnMap { margin: 0!important; padding: 10px 64px 50px 64px; }

    .rodape { padding-bottom: 30px!important; }

    #boasVindas { padding: 50px 65px; width: 100%; text-align: center; }

    .formulario { position: sticky; display: none!important;}

    #p1 { height: auto !important }

    .btnCad { cursor: pointer!important; opacity: 1; }
   
    .btnCadD {  display: flex!important; width: 100%!important; padding: 70px 64px; }

    .figure-caption { font-size: 16px!important; }

    #footer { position: relative!important; }

    #footer > div > div > div{ flex-direction: column; width: 100%; align-items: center; }

    #footer > div > div { flex-direction: column; }

    #nomeCd { justify-content: center!important; padding: 2.5rem 1rem!important; }

    #divRedes { padding-bottom: 2.5rem; }

    #btnWtt { justify-content: center; }

    div:where(.swal2-container) div:where(.swal2-popup){ background: var(--verde-escuro)!important; padding: 0!important; }

    div:where(.swal2-container) { padding: 30px !important; overflow-y: hidden!important; display: flex; }

    div:where(.swal2-container) .swal2-html-container{ display: grid!important; gap: 15px; margin: 28px!important; }

    .ess, .cdd, .btnRR { width: 100%!important; }

    div:where(.swal2-container).swal2-center>.swal2-popup { max-height: 60%; overflow: auto; }

}
